.name {
    float: left;
    background-color: skyblue;
    padding: 30px;
    margin: 0px;
}
h1 {
    background-color: teal;
}
p {
    background-color: lightcoral
}
.navi {
    float: right;
    text-align: right;
    margin: 0px;
}
header {
    background-color: yellowgreen;
}
.body {
    margin: 960;
}
.image {
    float: left;
}
.about {
    margin: 0px;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}